[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AKASeon
[access "refs/for/refs/*"]
	read = group user/AKASeon
	push = group user/AKASeon
	label-Code-Review = -2..+2 group user/AKASeon
	label-Verified = -1..+1 group user/AKASeon
	rebase = group user/AKASeon
	removeReviewer = group user/AKASeon
	submit = group user/AKASeon
[access "refs/heads/*"]
	read = group user/AKASeon
	create = group user/AKASeon
	push = +force group user/AKASeon
	pushMerge = group user/AKASeon
[access "refs/tags/*"]
	push = +force group user/AKASeon
	pushTag = group user/AKASeon
	pushSignedTag = group user/AKASeon
